//
   Created by Tommy on 2017/5/29.
extends ../adminlte/base
block content
    section.content-header
        h1 新增醫生
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Level
            li.active Here
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Customer
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus

            .box-body
                form(role='form',method='post' action=baseDir+'/disease/add')
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                .form-group
                                    label
                                        | 醫別
                                    input(type='text',name='doc_category',placeholder='Enter 中西醫', autofocus).form-control
                                .form-group
                                    label
                                        | 科別小項
                                    input(type='text',name='category',placeholder='Enter 科別小項').form-control
                                .form-group
                                    label
                                        | 大項分類
                                    input(type='text',name='big_category',placeholder='Enter 大項分類').form-control
                                .form-group
                                    label
                                        | 症狀
                                    input(type='text',name='symptom',placeholder='Enter Symptom').form-control
                            .box-footer
                                button(type='submit').btn.btn-primary
                                    | Submit
                                a(href=baseDir+'/disease').btn.btn-primary.pull-right
                                    | Back
