.navbar-default.sidebar(role="navigation")
        .sidebar-nav.navbar-collapse.slimscrollsidebar
            ul#side-menu.nav
                li.sidebar-search.hidden-sm.hidden-md.hidden-lg
                    // input-group
                    .input-group.custom-search-form
                        input.form-control(type="text", placeholder="Search...")

                        span.input-group-btn
                            button.btn.btn-default(type="button")
                                i.fa.fa-search
                    // /input-group
                li.user-pro
                    a.waves-effect(href="#")
                        img.img-circle(src=baseDir+"/hospital/plugins/images/users/d1.jpg", alt="user-img")

                        span.hide-menu
                            | Dr. Steve Gection
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="javascript:void(0)")
                                i.ti-user
                                |  My Profile

                        li
                            a(href="javascript:void(0)")
                                i.ti-email
                                |  Inbox

                        li
                            a(href="javascript:void(0)")
                                i.ti-settings
                                |  Account Setting

                        li
                            a(href="javascript:void(0)")
                                i.fa.fa-power-off
                                |  Logout

                li.nav-small-cap.m-t-10 --- Main Menu

                li
                    a.waves-effect(href="index.html")
                        i.ti-dashboard.p-r-10

                        span.hide-menu Dashboard

                li
                    a.waves-effect(href="javascript:void(0);")
                        i.icon-envelope.p-r-10

                        span.hide-menu
                            | Mailbox
                            span.fa.arrow
                            span.label.label-rouded.label-danger.pull-right 6

                    ul.nav.nav-second-level
                        li
                            a(href="inbox.html") Inbox

                        li
                            a(href="inbox-detail.html") Inbox detail

                        li
                            a(href="compose.html") Compose mail

                li.nav-small-cap.m-t-10 --- Professional

                li
                    a.waves-effect(href="javascript:void(0);")
                        i.ti-calendar.p-r-10

                        span.hide-menu
                            | Appointment
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="doctor-schedule.html") Doctor Schedule

                        li
                            a(href="book-appointment.html") Book Appointment

                li
                    a.waves-effect(href="javascript:void(0);")
                        i.fa.fa-user-md.p-r-10

                        span.hide-menu
                            | Doctors
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="doctors.html") All Doctors

                        li
                            a(href="add-doctor.html") Add Doctor

                        li
                            a(href="edit-doctor.html") Edit Doctor

                        li
                            a(href="doctor-profile.html") Doctor Profile

                li
                    a.waves-effect(href="javascript:void(0);")
                        i.icon-people.p-r-10

                        span.hide-menu
                            | Patients
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="patients.html") All Patients

                        li
                            a(href="add-patient.html") Add Patient

                        li
                            a(href="edit-patient.html") Edit Patient

                        li
                            a(href="patient-profile.html") Patient Profile

                li
                    a.waves-effect(href="javascript:void(0);")
                        i.icon-chart.p-r-10

                        span.hide-menu
                            | Reports
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="payment-report.html") Payment Report

                        li
                            a(href="income-report.html") Income Report

                        li
                            a(href="sales-report.html") Sales Report

                li
                    a.waves-effect(href="javascript:void(0);")
                        i.fa.fa-inr.p-r-10

                        span.hide-menu
                            | Payments
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="payments.html") Payments

                        li
                            a(href="add-payments.html") Add Payment

                        li
                            a(href="patient-invoice.html") Patient Invoice

                li
                    a.waves-effect(href="widgets.html")
                        i.linea-icon.linea-basic.fa-fw(data-icon="P")

                        span.hide-menu Widgets

                li
                    a.waves-effect(href="#")
                        i.linea-icon.linea-basic.fa-fw(data-icon="7")

                        span.hide-menu
                            | Icons
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="fontawesome.html") Font awesome

                        li
                            a(href="themifyicon.html") Themify Icons

                        li
                            a(href="simple-line.html") Simple line Icons

                        li
                            a(href="linea-icon.html") Linea Icons

                        li
                            a(href="weather.html") Weather Icons

                li.nav-small-cap --- Extra Components

                li
                    a.waves-effect(href="#")
                        i.linea-icon.linea-basic.fa-fw(data-icon='/')

                        span.hide-menu
                            | UI Elements
                            span.fa.arrow

                            span.label.label-rouded.label-info.pull-right 13

                    ul.nav.nav-second-level
                        li
                            a(href="panels-wells.html") Panels and Wells

                        li
                            a(href="panel-ui-block.html") Panels With BlockUI

                        li
                            a(href="portlet-draggable.html") Draggable Portlet

                        li
                            a(href="buttons.html") Buttons

                        li
                            a(href="bootstrap-switch.html") Bootstrap Switch

                        li
                            a(href="date-paginator.html") Date Paginator

                        li
                            a(href="sweatalert.html") Sweat alert

                        li
                            a(href="typography.html") Typography

                        li
                            a(href="grid.html") Grid

                        li
                            a(href="tabs.html") Tabs

                        li
                            a(href="tab-stylish.html") Stylish Tabs

                        li
                            a(href="modals.html") Modals

                        li
                            a(href="progressbars.html") Progress Bars

                        li
                            a(href="notification.html") Notifications

                        li
                            a(href="carousel.html") Carousel

                        li
                            a(href="list-style.html") List & Media object

                        li
                            a(href="user-cards.html") User Cards

                        li
                            a(href="timeline.html") Timeline

                        li
                            a(href="timeline-horizontal.html") Horizontal Timeline

                        li
                            a(href="nestable.html") Nesteble

                        li
                            a(href="range-slider.html") Range Slider

                        li
                            a(href="ribbons.html") Ribbons

                        li
                            a(href="steps.html") Steps

                        li
                            a(href="session-idle-timeout.html") Session Idle Timeout

                        li
                            a(href="session-timeout.html") Session Timeout

                        li
                            a(href="tooltip-stylish.html") Stylish Tooltip

                        li
                            a(href="bootstrap.html") Bootstrap UI

                li
                    a.waves-effect(href="#")
                        i.ti-files.fa-fw

                        span.hide-menu
                            | Sample Pages
                            span.fa.arrow
                            span.label.label-rouded.label-purple.pull-right 30

                    ul.nav.nav-second-level
                        li
                            a(href="starter-page.html") Starter Page

                        li
                            a(href="blank.html") Blank Page

                        li
                            a.waves-effect(href="javascript:void(0)")
                                | Email Templates
                                span.fa.arrow

                            ul.nav.nav-third-level
                                li
                                    a(href="../email-templates/basic.html") Basic

                                li
                                    a(href="../email-templates/alert.html") Alert

                                li
                                    a(href="../email-templates/billing.html") Billing

                                li
                                    a(href="../email-templates/password-reset.html") Reset Pwd

                        li
                            a(href="lightbox.html") Lightbox Popup

                        li
                            a(href="treeview.html") Treeview

                        li
                            a(href="search-result.html") Search Result

                        li
                            a(href="utility-classes.html") Utility Classes

                        li
                            a(href="custom-scroll.html") Custom Scrolls

                        li
                            a(href="login.html") Login Page

                        li
                            a(href="login2.html") Login v2

                        li
                            a(href="animation.html") Animations

                        li
                            a(href="profile.html") Profile

                        li
                            a(href="invoice.html") Invoice

                        li
                            a(href="faq.html") FAQ

                        li
                            a(href="gallery.html") Gallery

                        li
                            a(href="pricing.html") Pricing

                        li
                            a(href="register.html") Register

                        li
                            a(href="register2.html") Register v2

                        li
                            a(href="register3.html") 3 Step Registration

                        li
                            a(href="recoverpw.html") Recover Password

                        li
                            a(href="lock-screen.html") Lock Screen

                        li
                            a(href="400.html") Error 400

                        li
                            a(href="403.html") Error 403

                        li
                            a(href="404.html") Error 404

                        li
                            a(href="500.html") Error 500

                        li
                            a(href="503.html") Error 503

                li
                    a.waves-effect(href="forms.html")
                        i.linea-icon.linea-basic.fa-fw(data-icon="")

                        span.hide-menu
                            | Forms
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="form-basic.html") Basic Forms

                        li
                            a(href="form-layout.html") Form Layout

                        li
                            a(href="form-advanced.html") Form Addons

                        li
                            a(href="form-material-elements.html") Form Material

                        li
                            a(href="form-float-input.html") Form Float Input

                        li
                            a(href="form-upload.html") File Upload

                        li
                            a(href="form-mask.html") Form Mask

                        li
                            a(href="form-img-cropper.html") Image Cropping

                        li
                            a(href="form-validation.html") Form Validation

                        li
                            a(href="form-dropzone.html") File Dropzone

                        li
                            a(href="form-pickers.html") Form-pickers

                        li
                            a(href="icheck-control.html") Icheck Form Controls

                        li
                            a(href="form-wizard.html") Form-wizards

                        li
                            a(href="form-typehead.html") Typehead

                        li
                            a(href="form-xeditable.html") X-editable

                        li
                            a(href="form-summernote.html") Summernote

                        li
                            a(href="form-bootstrap-wysihtml5.html") Bootstrap wysihtml5

                        li
                            a(href="form-tinymce-wysihtml5.html") Tinymce wysihtml5

                li
                    a.waves-effect(href="tables.html")
                        i.linea-icon.linea-software.fa-fw(data-icon="O")

                        span.hide-menu
                            | Tables
                            span.fa.arrow
                            span.label.label-rouded.label-danger.pull-right 7

                    ul.nav.nav-second-level
                        li
                            a(href="basic-table.html") Basic Tables

                        li
                            a(href="table-layouts.html") Table Layouts

                        li
                            a(href="data-table.html") Data Table

                        li.hidden
                            a(href="crud-table.html") Crud Table

                        li
                            a(href="bootstrap-tables.html") Bootstrap Tables

                        li
                            a(href="responsive-tables.html") Responsive Tables

                        li
                            a(href="editable-tables.html") Editable Tables

                        li
                            a(href="foo-tables.html") FooTables

                        li
                            a(href="jsgrid.html") JsGrid Tables

                li.nav-small-cap --- Support

                li
                    a.waves-effect(href="javascript:void(0)")
                        i.linea-icon.linea-software.fa-fw(data-icon="F")

                        span.hide-menu
                            | Multi-Level Dropdown
                            span.fa.arrow

                    ul.nav.nav-second-level
                        li
                            a(href="javascript:void(0)") Second Level Item

                        li
                            a(href="javascript:void(0)") Second Level Item

                        li
                            a.waves-effect(href="javascript:void(0)")
                                | Third Level
                                span.fa.arrow

                            ul.nav.nav-third-level
                                li
                                    a(href="javascript:void(0)") Third Level Item

                                li
                                    a(href="javascript:void(0)") Third Level Item

                                li
                                    a(href="javascript:void(0)") Third Level Item

                                li
                                    a(href="javascript:void(0)") Third Level Item

                li
                    a.waves-effect(href="login.html")
                        i.icon-logout.fa-fw

                        span.hide-menu Log out

                li.hide-menu
                    a(href="javacript:void(0);")
                        span Progress Report

                        .progress
                            .progress-bar.progress-bar-info(aria-valuenow="85", aria-valuemin="0", aria-valuemax="100", style="width: 85%", role="progressbar")
                                span.sr-only 85% Complete (success)

                        span Leads Report

                        .progress
                            .progress-bar.progress-bar-danger(aria-valuenow="85", aria-valuemin="0", aria-valuemax="100", style="width: 85%", role="progressbar")
                                span.sr-only 85% Complete (success)
    // Left navbar-header end
