// .right-sidebar
.right-sidebar
    .slimscrollright
        .rpanel-title
            | Service Panel
            span
                i.ti-close.right-side-toggle

        .r-panel-body
            ul
                li
                    b Layout Options

                li
                    .checkbox.checkbox-info
                        input#checkbox1.fxhdr(type="checkbox")

                        label(for="checkbox1")  Fix Header

                li
                    .checkbox.checkbox-warning
                        input#checkbox2.fxsdr(type="checkbox")

                        label(for="checkbox2")  Fix Sidebar

                li
                    .checkbox.checkbox-success
                        input#checkbox4.open-close(type="checkbox")

                        label(for="checkbox4")  Toggle Sidebar

            ul#themecolors.m-t-20
                li
                    b With Light sidebar

                li
                    a.default-theme(href="javascript:void(0)", data-theme="default") 1

                li
                    a.green-theme(href="javascript:void(0)", data-theme="green") 2

                li
                    a.yellow-theme(href="javascript:void(0)", data-theme="gray") 3

                li
                    a.blue-theme(href="javascript:void(0)", data-theme="blue") 4

                li
                    a.purple-theme(href="javascript:void(0)", data-theme="purple") 5

                li
                    a.megna-theme.working(href="javascript:void(0)", data-theme="megna") 6

                li.d-block.m-t-30
                    b With Dark sidebar

                li
                    a.default-dark-theme(href="javascript:void(0)", data-theme="default-dark") 7

                li
                    a.green-dark-theme(href="javascript:void(0)", data-theme="green-dark") 8

                li
                    a.yellow-dark-theme(href="javascript:void(0)", data-theme="gray-dark") 9

                li
                    a.blue-dark-theme(href="javascript:void(0)", data-theme="blue-dark") 10

                li
                    a.purple-dark-theme(href="javascript:void(0)", data-theme="purple-dark") 11

                li
                    a.megna-dark-theme(href="javascript:void(0)", data-theme="megna-dark") 12

            ul.m-t-20.chatonline
                li
                    b Chat option

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/varun.jpg", alt="user-img")

                        span
                            | Varun Dhavan
                            small.text-success online

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/genu.jpg", alt="user-img")

                        span
                            | Genelia Deshmukh
                            small.text-warning Away

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/ritesh.jpg", alt="user-img")

                        span
                            | Ritesh Deshmukh
                            small.text-danger Busy

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/arijit.jpg", alt="user-img")

                        span
                            | Arijit Sinh
                            small.text-muted Offline

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/govinda.jpg", alt="user-img")

                        span
                            | Govinda Star
                            small.text-success online

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/hritik.jpg", alt="user-img")

                        span
                            | John Abraham
                            small.text-success online

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/john.jpg", alt="user-img")

                        span
                            | Hritik Roshan
                            small.text-success online

                li
                    a(href="javascript:void(0)")
                        img.img-circle(src="plugins/images/users/pawandeep.jpg", alt="user-img")

                        span
                            | Pwandeep rajan
                            small.text-success online
// /.right-sidebar
