extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='./css/starter-template.css', rel='stylesheet')
block body
	+navbar-fixed("Project name","navbar","inverse")
		+nav_item("./disease","active") Home
		+nav_item("./disease") About
		+nav_item("./disease") Contact
	.container
		.starter-template
			h1 Bootstrap starter template
			p.lead
				| Use this document as a way to quickly start any new project.
				br
				|  All you get is this text and a mostly barebones HTML document.
	

