extends ../adminlte/base
block content
    section.content-header
        h1
            | 個人資料

    section.content
        .row
            .col-md-4.col-xs-12
                .box
                    .box-body
                        .row.text-center.m-t-10
                            .col-md-12.b-r
                                strong 姓名
                                p #{data.userName}
                        hr
                        .row.text-center.m-t-10
                            .col-md-12.b-r
                                strong Line ID
                                p #{data.lineId}
                        hr
                        .row.text-center.m-t-10
                            .col-md-6
                                strong Latitude
                                p #{data.latitude}
                            .col-md-6
                                strong Longitude
                                p #{data.longtitude}